.content{
    width: 1000px;
    height: 1000px;
    position: relative;
    left: calc((100% - 1000px)/2);
    box-shadow:
            0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px rgba(0, 0, 0, .1) inset;
    padding: 30px;
    text-align: center;
    background-color: #dccecd;
}
.bt{
    background-color: black;
    color:white;
    padding: 8px;
    font-size: 0.9em;
    border-radius: 20px;
}
.bt:hover{
    cursor: pointer;
    background-color: red;
}